# Node
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
dist/

# Test reports
reports/

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# VS Code
.vscode/

# Husky internal (regenerado pelo script "prepare")
.husky/_/
